html,body{overflow:hidden;height:100%;}
body{background:#81c8e3;color:#1D7A3D;background-image:-moz-linear-gradient(top,#81c8e3,#ffffff);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#81c8e3),color-stop(1,#ffffff));font-family:Courier}
a{color:#1D7A3D}
#board{border:solid 5px #fff;float:left;background:#6bc237;-webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.25); -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.25); box-shadow:5px 5px 5px rgba(0,0,0,0.25)}
#display{float:left; width: 150px;}
span{display:block;float:left;width:20px;height:20px}
div{clear:both}
.snake{background:lightblue}
.snake,.food{background:url(sprite.gif) no-repeat}
.food{background-position:-40px -40px}
.right,.left{background-position:-40px -20px}
.up,.down{background-position:-40px 0px}
.tl{background-position:-60px 0px}
.tr{background-position:-60px -40px}
.bl{background-position:-60px -20px}
.br{background-position:-60px -60px}
.tail.left,.tail.down.br,.tail.up.tr{background-position:0px -60px}
.tail.right,.tail.up.tl,.tail.down.bl{background-position:0px -40px}
.tail.up,.tail.left.bl,.tail.right.br{background-position:0px 0px}
.tail.down,.tail.left.tl,.tail.right.tr{background-position:0px -20px}
.head.right,.head{background-position:-20px -40px}
.head.left{background-position:-20px -60px}
.head.up{background-position:-20px -0px}
.head.down{background-position:-20px -20px}