body{
	background: yellow url(../img/desert.png) repeat 0 0;
}
canvas {

	background-color: rgba(255,255,255,0.75);
}

h5{
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}

#snake-words,
#snake-info{
	display: none;
}